/config.mak
/src/Makefile*
/src/helpers/
/src/yua.pro*
/src/release/
/src/debug/
/src/object_script.*
/src/yua_plugin_import.cpp
/src/moc_*.cpp
/src/qrc_*.cpp

/src/yua
/yua

/fdk-aac/
/x264/
/gpac/
/ffmpeg/

*.exe
*.o
*.so
*.a
*~

.DS_Store
Thumbs.db

