/src/Makefile
/src/moc_*.cpp
/src/qrc_*.cpp
/src/helpers/tmp/
/src/yua
/yua

/src/yua_static.pro
/src/yua_static_qt4_external_weights.pro

/fdk-aac/
/x264/
/gpac*/
/ffmpeg*/

*.o
*.so
*.a
*~

.DS_Store
Thumbs.db

*.tar.bz2
*.tar.gz
*.tar.xz
