#!/usr/bin/make -f


%:
	dh ${@} --parallel

override_dh_auto_install:
	$(MAKE) install PREFIX=$(CURDIR)/debian/yua/usr
	rm -f $(CURDIR)/debian/yua/usr/share/doc/yua/COPYING

#override_dh_gencontrol:
#	dh_gencontrol
#	# prevents Lintian warning virtual-package-depends-without-real-package-depends
#	sed -i 's/libgl1/libgl1-mesa-glx | libgl1/g' debian/yua/DEBIAN/control

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
