#!/usr/bin/make -f


%:
	dh ${@} --parallel

override_dh_auto_build:
	dh_auto_build -- qt4

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr DESTDIR=$(CURDIR)/debian/yua
	rm -f $(CURDIR)/debian/yua/usr/share/doc/yua/COPYING

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

